<div class="col-md-12">
    <div class="jumbotron jumbotron-fluid">
        <div class="col-md-12">

            <!-- <div class="row">
                <div class="col-md-6">
                    <patient-filter></patient-filter>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-3">
                    <label for="patientId">Patient's Identification</label>
                    <input id="patientId" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="patientName">Name</label>
                    <input id="patientName" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label for="patientPhone">Phone</label>
                    <input id="patientPhone" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label for="patientPhone2">Phone #2</label>
                    <input id="patientPhone2" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <label for="patientAge">Age</label>
                    <input id="patientAge" class="form-control" />
                </div>
                <div class="col-md-2">
                    <label for="patientGender">Gender</label>
                    <input id="patientGender" class="form-control" />
                </div>
            </div>

            <!-- AFFILIATES -->
            <!-- <div class="row">
                <div class="col-md-6">
                    <label for="patientAffiliates">Affiliates</label>
                    <input id="patientAffiliates" class="form-control" />
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-2">
                    <label for="patientZipCode">Zip Code</label>
                    <input id="patientZipCode" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="patientAddress1">Address 1</label>
                    <input id="patientAddress1" class="form-control" />
                </div>

                <div class="col-md-6">
                    <label for="patientAddress2">Address 2</label>
                    <input id="patientAddress2" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="patientCity">City</label>
                    <input id="patientCity" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label for="patientState">State</label>
                    <input id="patientState" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label for="patientCountry">Country</label>
                    <input id="patientCountry" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>