<div class="row">
    <div class="col-md-6">

        <div id="patientsAC">
            <label for="">Search Patient</label>
            <ngui-auto-complete (valuechanged)="filterChanged($event)" class="form-control" id="patientFilterAC" (valueSelected)="selectPatient($event)"
                [accept-user-input]="true" [source]="patients" display-property-name="name" [list-formatter]="formattingDoctorList"
                blank-option-text="" loading-text="Google Is Thinking..." [loading-template]="loadingTemplate" max-num-list="5"
                min-chars="3" no-match-found-text="No Match Found" placeholder="Find patient by name..."></ngui-auto-complete>
        </div>

        <div class="wrapper" (click)="showAutocomplete=true">
            <div *ngIf="selectedPatient != null" class="col-xs-18 col-sm-12 col-md-12 btn margin-top-bottom-5px">
                <span class="col-md-10">{{selectedPatient.name}}</span>
                <span class="fa fa-times removeTextColor col-xs-2 col-sm-2 col-md-2" (click)="removeSelectedDoctor(selDoctor.id)"></span>
            </div>
        </div>
    </div>
</div>